/* styles.css */
h1 {
  font-size: 44px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

ul.li.a {
  background: #ff9999;
  list-style-type: circle;
  font-size: 16px;
  font-weight: 200;
}

p {
  font-size: 16px;
  font-weight: 200;
}

ol {
  font-size: 16px;
  font-weight: 200;
}

ul {
  list-style-type: square;
  font-size: 16px;
  font-weight: 200;
}

#list {
  list-style-type: circle;
  font-size: 30px;
  font-weight: 200;
}

img {
    height: 250px;
    width: 350px;
  } 